


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  text-align: center; 

}


 /* MAIL */
.mail {
  position: relative;
  width: 330px;
  top: 50px;
}

/*  FORM */
form {
  position: relative;
  width: 50%;
  text-align: start;
  margin: 50px auto;
  padding: 10px;
  border-radius: 4%;
  font-size: 20px;
  background-image: linear-gradient(rgba(212, 182, 10, 0.171), rgba(0, 247, 185, 0.199));
}

form:hover {
  box-shadow: 1px 1px 20px gray;
}

footer {
  position: relative;
  margin-top: 150px;
  text-align: center;
}




/* FOR IPHONS */
@media only screen and (max-width: 768px) {

   main {
    padding-top: 40px;
   }

  .box {
    display: flex;
    margin-top: -40px;
    flex-direction: column;
  }

  .mail, form {
    position: relative;
   margin: 0 auto;
  }
  
  form {
    position: relative;
    width: 80%;
    
    margin-top: 50px;
  }

  footer {
    position: relative;
    top: -90px;
    
  }

  .bg-img {
     display: none;
  }

}


@media (max-width: 1200px) { 
  .bg-img {
     left: 2%;
     top: 10%;
     transform: scale(.6);
  }
}

@media (max-width: 992px) { 
  .bg-img {
     left: -9%;
     top: 5%;
     transform: scale(.5);
  }
}











