
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway:wght@300;400&display=swap');

h1, h2, h3, li > a {
  font-family: 'New Tegomin', serif;
  font-weight: 500!important;
}

li > a:hover {
  color: blue!important;
  font-weight: 700 !important;
}
